* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

#trace {
  background: #222;
  color: #999;
  display: none;
  font-family: monospace;
  font-size: 14px;
  padding: 1rem;

  &:not(:empty) {
    display: block;
  }

  mark {
    background: none;
    color: #f0f0f0;
  }
}

#result {
  border: 0;
  height: 100%;
  width: 100%;
}
