* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

#tracePane {
  --color-highlight: white;
  background: #222;
  color: #999;
  display: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  gap: 1rem;
  font-size: 14px;
  padding: 1rem;

  #sourceFilePath {
    /* color: var(--color-highlight); */
  }

  #trace {
    font-family: monospace;
    margin: 0;
    padding: 0 0 0 2ch;

    a {
      background: none;
      color: var(--color-highlight);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:has(#trace:not(:empty)) {
    display: grid;
  }
}

#result {
  border: 0;
  height: 100%;
  width: 100%;
}
