debug-link {
  :root {
    cursor: pointer;
    display: inline-block;

    .selected {
      background: color-mix(in oklch, SelectedItem, white 90%);
      color: black;
      font-weight: bold;
    }
  
    .highlight:not(.selected) {
      &, * {
        color: var(--color-highlight);
        text-decoration: underline;
        text-decoration-color: currentColor;
        text-underline-offset: 4px;
      }
    }
  }
}
